/*
* Author: Abbas Abdulmalik
* Creation Date:
* Revised: 
* Project Name:
* Purpose:
* Notes:
*
*/

html{
    background-color: gray;
    font-weight: normal;
}

body{
    overflow: hidden;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 120%;
}

.slider{
    position: fixed;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    /***************************/
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    user-select: text;
    /***************************/
    cursor: arrow;
    #cursor: url(cursor.png),auto; 
    cursor: crosshair;
    overflow-y: scroll;
    padding: 5%;
    padding-top: 3%;
    z-index: 1;
    font-size: 100%;
    background: teal;
}

#top{
    font-family: "Courier New", Courier, monospace ;
    font-weight: bold;
    top: 0;
    padding-top: 5%;
    z-index:1;
    border-bottom: 1px solid white;
}

#bottom{
    border-top: 1px solid white;
    bottom: 0;
    background-color: #222;
    z-index: 1;
}

#line{
    position: absolute;
    font-size: 10px;    
    line-height: 100%;    
    z-index: 2;
    background-color: gray;/* same as body*/
    left:0;
    right:0;
    cursor: ns-resize;
    color:white;
    text-align: center;
    font-weight: normal;
    /***************************/
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    /***************************/
}

.btn{
    position: fixed;
    font-size: 20px;
    width: 100%;
    margin: auto;    
    left:0;
    right:0;
    z-index: 2;
    border-radius: 3px;
    background: lightgray;
}

.btn:hover{
    color: black;
    font-weight: bold;
    background: lightblue;
}

.btn:active{
    color:red;
}

#btn{
    top: 0;
}
#btnFont{
    margin: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    opacity: 0;
}